* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

// etiquetas globales
html {
    font-size: 62, 5%;
}

body {
    font-size: 1.2rem;
    position: relative;
}

main,
section {
    margin: 2rem;
}

li {
    margin: 0.5rem;
    padding: 0.5rem;
}

input {
    margin-top: 1rem;
}

header {
    min-width: 100vw;
}
.container-fluid {
    padding: 0;
}

h1,
h5 {
    text-align: center;
    margin: 0.2rem 0.2rem;
    margin-bottom: 0;
}

p {
    margin: 0.2rem 0.2rem;
    margin-bottom: 0;
}

// id

#contenedorCards {
    margin: 0 auto;
    min-height: 100vh;
    width: 75vw;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    height: 50%;
    flex-wrap: wrap;
}

// clases

.column {
    flex-direction: column;
}

.flexCentro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    height: 50%;
}

.card {
    min-height: 15rem;
    margin: 2rem;
}

.flexStart {
    display: flex;
    justify-content: flex-start;
}

.barra-busqueda {
    margin-top: 2rem;
    margin: 0 auto;
    width: 80vw;
}

.contenedor {
    margin: 0 auto;
    width: 75vw;
    justify-content: space-between;
    margin-top: 5rem;
    height: 50%;
    flex-wrap: wrap;
}
.contenedor1 {
    margin: 0 auto;
    width: 75vw;
    justify-content: space-between;
    height: 50%;
    flex-wrap: wrap;
}

.inputLibro,
.inputUsuario {
    max-width: 60%;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.borde {
    border: 0.3rem solid rgb(255, 209, 6);
}

.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oculto {
    display: none;
}

.contenedorCards {
    margin: 0 auto;
    min-height: 50vh;
    width: 100vw;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex-wrap: wrap;
}

.separado {
    margin: 0.5rem 0.5rem;
}

.card-title {
    font-size: 1rem;
    width: 100%;
}

.badge {
    display: block;
    white-space: normal;
}

.centro {
    margin: 1.2rem auto;
}

.section-solicitarLibro,
#ingresarLibro,
#ingresarUsuario {
    display: none;
    /*     width: 60vw;
    height: 40vh;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.603);
    position: absolute;
    bottom: 50vh;
    left: 40vh; */
}

.solicitarLibro {
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.911);
    margin: 0 auto;
}

.foto-chica {
    align-self: center;
    width: 50%;
    height: 50%;
}